body {
    background-color: #dcf5ff;
    margin: 0;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    font-family: 'Nunito', 'sans-serif';
}

.container .inner {
    background: #00b6ff;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 25%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.container .inner h1 {
    color: white;
    margin: 0;
}

.container .inner p {
    color: white;
    font-size: 0.8rem;
}

.container .inner:hover {
    clip-path: circle(75%);
    background: #00b6ff;
}

.container .inner:hover span {
    color: rgba(255, 255, 255, 0);
}

span {
    float: right;
    color: white;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 4%;
    margin-top: 3%;
}