body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ecf2f8;
}

p,
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

main {
  max-width: 1400px;
}

#custom-text-item {
  position: absolute;
  max-width: 500px;
  font-size: 7rem !important;
  font-weight: bold;
  padding: 550px 200px 100px 300px;
  margin: auto;
  color: white;
}
@media only screen and (min-width: 800px) {
  main {
    margin: 5vw 10vw;
  }

  #content-grid {
    display: grid;
    height: 250vh;
    grid-template-columns: 4fr 5fr 6fr;
    grid-template-rows: 3fr 4fr 4fr 2fr;
    gap: 35px;
  }

  .grid-image-3 {
    grid-area: 3 / 3 / 5 / 3;
  }
}

.grid-item {
  border-radius: 10px;
  box-shadow: 5px 5px 10px #00000020;
  overflow: hidden;
  display: grid;
  place-items: center;
  background-color: white;
}

.number {
  background: #48556a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number p {
  font-size: 120px;
  color: white;
}

.image {
  background: #48556a;
}
.image img {
  height: 100%;
  object-fit: cover;
  align-content: center;
  width: 100%;
}

.text {
  padding: 25px;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 35px !important;
    padding-top: 0 !important;
  }
  h2 {
    font-size: 20px !important;
  }

  p {
    font-size: 16px;
  }

  #content-grid {
    display: grid;
    gap: 10px;
    grid-template-rows: 300px 250px 150px 150px 150px 200px 150px 150px 400px;
    grid-template-areas:
      "grid-add-1 grid-paragraph-1"
      "grid-image-1 grid-add-2"
      "grid-paragraph-2 grid-add-2"
      "grid-paragraph-2 grid-image-2"
      "grid-add-3 grid-image-2"
      "grid-add-3 grid-paragraph-3"
      "grid-image-3 grid-paragraph-3"
      "grid-image-3 grid-add-4"
      "grid-paragraph-4 grid-add-4";
  }

  .grid-add-1 {
    grid-area: grid-add-1;
  }
  .grid-add-2 {
    grid-area: grid-add-2;
  }
  .grid-add-3 {
    grid-area: grid-add-3;
  }
  .grid-add-4 {
    grid-area: grid-add-4;
  }

  .grid-paragraph-1 {
    grid-area: grid-paragraph-1;
  }
  .grid-paragraph-2 {
    grid-area: grid-paragraph-2;
  }
  .grid-paragraph-3 {
    grid-area: grid-paragraph-3;
  }
  .grid-paragraph-4 {
    grid-area: grid-paragraph-4;
  }

  .grid-image-1 {
    grid-area: grid-image-1;
  }
  .grid-image-2 {
    grid-area: grid-image-2;
  }
  .grid-image-3 {
    grid-area: grid-image-3;
  }

  .image {
    background-repeat: no-repeat;
    background-position: center;
  }

  #custom-text-item {
    display: none;
  }

  #single-item-section {
    display: block;
  }
}
