body {
    font-family: 'PT Serif', serif;;
}

p, a {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

main {
    max-width: 1400px;
    margin: auto;
}

#header-section {
    background-image: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    height: 500px;
    color: white;
    text-align: center;
}

#header-section h1{   
    padding-top: 100px;
    font-size: 4.5em;
    margin-bottom: 0;
}

#header-section p {
    font-size: 1.5em;
    padding: 0;
    margin-top: 0;
    font-weight: normal;
}

#paragraph-section {
    padding: 25px 50px;
    text-align: center;
}

#single-item-section {
    display: flex;
}

#single-item-section h2 {
    font-size: 4rem;
    text-transform: uppercase;
}

#single-item-section p {
    font-size: 1.5rem;
}

#single-item {
    flex:1;
    padding: 20px;
}

#single-image {
    flex: 1;
    overflow: hidden;
}

#custom-text-item {
    position: absolute;
    max-width: 500px;
    font-size: 7rem!important;
    font-weight: bold;
    padding: 550px 200px 100px 300px;
    margin: auto;
    color: white;
}
@media only screen and (min-width:551px) {

    #content-grid {
        display: grid;
        height: 250vh;
        grid-template-columns: 4fr 5fr 6fr;
        grid-template-rows: 3fr 4fr 4fr 2fr;
        gap: 35px;
    }
    
    .grid-image-3 {
        grid-area: 3 / 3 / 5 / 3;
    }
}

.grid-item {
    border: 1px solid #333;
    overflow: hidden;
}

.number {
    background: #86DDF3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number p {
    font-size: 120px;
    font-family: 'PT Serif', sans-serif;
    color: white;
}

.image {
    background: lightsalmon;
}

.grid-image-4 {
    background: magenta;
}


@media only screen and (max-width: 550px) {

    h1 {
          font-size: 35px!important;
          padding-top: 0!important;
    }
    h2 {
          font-size: 20px!important;
    }

    p {
        16px;
    }

    #header-section {
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
    }

    #header-section p {
        font-size: 18px;
    }

    #content-grid {
        display: grid;
        gap: 10px;
        grid-template-rows: 300px 250px 150px 150px 150px 200px 150px 150px 400px;
        grid-template-areas:
            "grid-add-1 grid-paragraph-1"
            "grid-image-1 grid-add-2"
            "grid-paragraph-2 grid-add-2"
            "grid-paragraph-2 grid-image-2"
            "grid-add-3 grid-image-2"
            "grid-add-3 grid-paragraph-3"
            "grid-image-3 grid-paragraph-3"
            "grid-image-3 grid-add-4"
            "grid-paragraph-4 grid-add-4";
    }

    .grid-add-1 {
        grid-area: grid-add-1;
    }
    .grid-add-2 {
        grid-area: grid-add-2;
    }
    .grid-add-3 {
        grid-area: grid-add-3;
    }
    .grid-add-4 {
        grid-area: grid-add-4;
    }

    .grid-paragraph-1 {
        grid-area: grid-paragraph-1;
    }
    .grid-paragraph-2 {
        grid-area: grid-paragraph-2;
    }
    .grid-paragraph-3 {
        grid-area: grid-paragraph-3;
    }
    .grid-paragraph-4 {
        grid-area: grid-paragraph-4;
    }

    .grid-image-1 {
        grid-area: grid-image-1;
    }
    .grid-image-2 {
        grid-area: grid-image-2;
    }
    .grid-image-3 {
        grid-area: grid-image-3;
    }

    .image {
        background-repeat: no-repeat;
        background-position: center;
    }

    #custom-text-item {
        display: none;
    }

    #single-item-section {
        display: block;
    }

}
