* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, "Poppins", "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

body {
  background-color: #010a20;
  display: grid;
  place-items: center;
  height: 100vh;
}

.page-wrapper {
  background-color: #010a20;
  border: 1px solid #262e41;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-height: 812px;
  max-width: 375px;
}

@media screen and (max-width: 400px) {
  .page-wrapper {
    border: transparent;
  }
}

.task-list-wrapper {
  background-color: #262e41;
  border-radius: 10px;
  padding: 25px;
}

.task-list-wrapper h1 {
  font-size: 30px;
  line-height: 33px;
  margin: 0;
}

/* ------------------------------ TASK LIST ------------------------------ */

.list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.button {
  background-color: #fe8368;
  border: none;
  font-size: 0.6em;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-height: 575px;
  overflow: auto;
}

.task {
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  align-items: flex-start;
  grid-gap: 5px;
}

.task input {
  margin: 5px;
}

.task-list label {
  color: #dddee2;
  flex-grow: 1;
}

.delete-button {
  display: grid;
  place-items: center;
  height: 20px;
  width: 20px;
  margin-top: 2.5px;
  border-radius: 10px;
  background-color: #505767;
  font-size: 0.5em;
  cursor: pointer;
}

.delete-button .fa-times {
  font-size: 1.5em;
  color: #ef7157;
}

.hidden .delete-button {
  display: none;
}

/* ------------------------------ ADD NEW TASK ------------------------------ */

.new-task-form {
  display: flex;
  background-color: #262e41;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
}

.new-task-form .button {
  background: #5881ea;
}

.new-task-input {
  background: transparent;
  border: none;
  font-size: 1em;
  min-width: 100px;
  flex-grow: 1;
}
